Options +FollowSymLinks
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(([A-Za-z0-9\-]+/)*[A-Za-z0-9\-]+)?$ $1.php
RewriteCond %{HTTP_HOST} ^www\.vpopolam\.ru$ [NC]
RewriteRule ^(.*)$ http://vpopolam.ru/$1 [R=301,L]
Addtype font/otf .otf
Addtype font/ttf .ttf
Addtype font/eot .eot
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/json font/otf font/ttf font/eot Header append Vary Accept-Encoding
ErrorDocument 404 /404.php
